@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<hr />
<div ">
    <h1>Hotel_Langa</h1>
    <h4>Nos somos uma Empresa, responsavel por sua estadia </h4>
    <p>Estmos localizados na cidade da beira, privincia de Sofala em Mozambique </p>
    <h1>Nossas Ofertas</h1>
    <p>Dispomos de Quartos Qualificados e avaliados a 4 estrlas, temos varias suits </p>
</div>
