@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<hr>
<div>
    <h1>Contacto do hotel</h1>
    <div>
        <h4>Hote_LANGA NOSSOS COTACTOS</h4>
        <p>cell: +258 849910101</p>
        <p>email: hotel@langa.com</p>
        <p>facebook: <a href="facebook.com/hotel">hotelLanga</a></p>
        <p>-----------------------------------------------------</p>
    </div>
</div>
<address>
    Localizacao<br />
    Mozambique, Sofala,Beira<br />
    <abbr title="Telefone">P:</abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>