@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        div.ccc {
            background: src(/Views/img/bemvindo.jpg);
            background-image: src(/Views/img/bemvindo.jpg);
        }
    </style>
</head>
<div class="jumbotron">
    <h1>BEM-VINDO AO HOTEL_LANGA-1</h1>
    <p class="lead">
        

        Visita as nossas instalacoes ou faca sua reserva online
        <a href="#">reserva</a>
    </p>
</div>
<div class="ccc" >
    Classificação por estrelas : 4.0
</div>

    <div class="row">
        <div class="col-md-4">
            <h2>Hotel Langa</h2>
            <p>
                dispomos das melhores ofertas do mercados Hoteleiro do mundo
                Temos quartos de todo tipo, para atender todas as suas escolhas
                Suit-masters, pensamos em todos...
            </p>
            <p><a class="btn btn-default" href="">mais sobre nos&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Hospede-se ja</h2>
            <p>Desfrute dos melhores quartos do mundo, com melhores vistas sobre a paisagem</p>
            <p><a class="btn btn-default" href="">Reservar &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>News</h2>
            <p>Temos novos precos para voce</p>
            <p><a class="btn btn-default" href="">Aderir&raquo;</a></p>
        </div>
    </div>
